{% extends 'base.html.twig' %}

{% block title %}Edit Character{% endblock %}

{% block body %}
    <h1>Edit Character</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-success">Save</button>
    {{ form_end(form) }}
{% endblock %}
